@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
/*** BODY COLORS ***/
/*** FONT COLORS ***/
.timezone-menu, #message-container textarea, #message-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 2px solid darkgray;
  border-radius: 4px;
  background-color: #eeeeee;
  font-size: 16px;
}

.button-save, .button-cancel, #message-container button {
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #466b5b;
  color: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
  color: #333333;
}

header {
  /*****FLEX CONTAINER*****************/
  padding: 10px;
  background-color: #5a8d77;
}
header * {
  color: lightgray;
}

#head-left {
  font-family: "Poiret One", cursive;
}

#head-right h2 {
  font-weight: 300;
}

nav {
  /***** flex *****/
  background-color: #466b5b;
  padding-top: 20px;
}
nav a {
  margin-bottom: 15px;
}

/***** MAIN HEADER STYLES *****************/
.main-header {
  margin-bottom: 10px;
}

.headline {
  padding: 10px 20px;
}

.main-header-search {
  text-align: right;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}
.main-header-search input {
  padding: 3px;
  width: 50%;
  border: 2px solid darkgray;
  border-radius: 4px;
  font-size: 14px;
}

/***** ALERT STYLES *****************/
#alert-dropdown {
  position: relative;
  display: none;
}

.alert-menu {
  list-style-type: none;
  position: absolute;
  left: -150px;
  width: 300px;
}
.alert-menu li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: rgba(211, 211, 211, 0.8);
  color: #333333;
  width: 300px;
}
.alert-menu p {
  float: right;
  color: #333333;
}

.alert {
  padding: 8px;
  margin: 10px 0px;
  background-color: #5a8d77;
  font-size: 18px;
}

.alert-banner * {
  color: lightgray;
}
.alert-banner p {
  display: inline-block;
}

.alert-banner-close {
  float: right;
}

/***** MAIN CONTENT STYLES *****************/
.traffic-chart-nav li {
  padding: 2px;
  margin-right: 3px;
  width: 50px;
  text-align: center;
}

.selected {
  background-color: #466b5b;
  border-radius: 5px;
  color: lightgray;
}

.section-heading {
  padding-bottom: 20px;
}

canvas {
  max-width: 100vh;
}

.chart-container,
#social-stats-container,
#members-container,
#activity-container,
#message-container,
#settings-container {
  border-bottom: 0px solid lightgray;
  padding: 20px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

#settings-container {
  border: none;
  box-shadow: none;
}

/***** CONTAINER STYLES *****/
.stats-widget {
  /***** flex *****/
  height: 125px;
  background-color: #eeeeee;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
}
.stats-widget .social-stats-name {
  font-size: 45px;
}
.stats-widget .social-stats-name h6 {
  font-size: 20px;
}

#members-container {
  /***** grid *****/
}
#members-container .members {
  padding: 10px;
}
#members-container .members .member-img {
  margin-right: 10px;
}

#activity-container {
  /***** grid *****/
}
#activity-container .member-activity {
  padding: 10px;
}
#activity-container .member-activity .member-img {
  margin-right: 10px;
}

#message-container {
  /***** flex *****/
}
#message-container input {
  height: 30px;
}
#message-container textarea {
  resize: none;
}
#message-container button {
  width: 100%;
}

.ui-autocomplete {
  list-style-type: none;
  background-color: white;
  width: 100px;
}

.ui-widget-content {
  background: lightgray;
  border: 1px solid darkgray;
}

.ui-helper-hidden-accessible {
  display: none;
}

#settings-container {
  /***** flex *****/
}
#settings-container span {
  color: white;
}

.switch-light,
.settings-buttons-container,
.timezone-menu {
  width: 100%;
}

.settings-switches {
  width: 100%;
}
.settings-switches label {
  margin-bottom: 20px;
}

.switch-material.switch-light input:checked ~ span a {
  background: #705e8c;
}

.switch-material.switch-light input:checked ~ span {
  background: rgba(112, 94, 140, 0.5);
}

.timezone-menu {
  margin-bottom: 20px;
}

.button-save, .button-cancel {
  width: 48%;
}

.button-cancel {
  background-color: #eeeeee;
  color: inherit;
}

/***** MEDIA QUERIES *****************/
@media (min-width: 768px) {
  .chart-container,
#social-stats-container,
#members-container,
#activity-container,
#message-container,
#settings-container {
    padding: 30px;
  }

  #head-right {
    margin-left: auto;
  }
  #head-right .bell-container {
    margin-right: 15px;
  }
  #head-right img {
    margin-right: 15px;
  }

  .alert {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1024px) {
  .traffic-chart-nav li {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    width: 65px;
  }

  #daily-chart-container,
#members-container,
#message-container {
    box-shadow: 8px 8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  #message-container {
    border-bottom: none;
  }
}
/********* HEADER STYLES *********/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bell-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#head-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********* NAVIGATION STYLES *********/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.traffic-header .section-heading {
  display: inline-block;
  float: left;
}

.traffic-chart-nav {
  float: right;
}
.traffic-chart-nav li {
  display: inline-block;
}

/********* MAIN CONTENT STYLES *********/
.stats-widget,
.icon-flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.settings-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#message-container,
#settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#message-container *,
#settings-container * {
  align-self: flex-start;
}

/********* MEDIA QUERIES *********/
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header * {
    align-items: center;
  }
  header #head-left {
    float: left;
  }
  header #head-right {
    float: right;
    flex-direction: row;
  }

  nav {
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 1024px) {
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
}
header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

#main-chart-container {
  grid-area: mainChart;
}

#daily-chart-container {
  grid-area: dailyChart;
}

#mobile-chart-container {
  grid-area: mobileChart;
}

#social-stats-container {
  grid-area: socialStats;
}

#members-container {
  grid-area: members;
}

#activity-container {
  grid-area: recentActivity;
}

#message-container {
  grid-area: messageContainer;
}

#settings-container {
  grid-area: settingsContainer;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(auto-fit, 1fr);
  grid-template-areas: "head" "nav" "main";
}

/********* MAIN CONTENT STYLES *********/
.main-header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.alert {
  grid-column: 1/3;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "mainChart" "dailyChart" "mobileChart" "socialStats" "members" "recentActivity" "messageContainer" "settingsContainer";
}

#members-container {
  display: grid;
}
#members-container .members {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

#activity-container {
  display: grid;
}
#activity-container .member-activity {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.settings-switches .columns {
  float: left;
  width: 40%;
}

/********* MEDIA QUERIES *********/
@media (min-width: 768px) {
  #social-stats-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #social-stats-container h3 {
    grid-column: 1/span 3;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    height: 100vh;
    grid-template-rows: 75px;
    grid-template-columns: 75px 9fr;
    grid-template-areas: "head head" "nav main";
  }

  .main-content {
    grid-template-rows: 1fr auto 0.5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mainChart mainChart" "dailyChart mobileChart" "socialStats socialStats" "members recentActivity" "messageContainer settingsContainer";
  }
}
svg {
  width: 25px;
}

.icon-body {
  stroke: lightgray;
  fill: lightgray;
  stroke-width: 0;
}

.bell-container {
  box-sizing: border-box;
}

.bell-svg {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.bell-icon {
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.bell-svg:hover .bell-icon {
  transform: rotate(-45deg);
}

.stats-widget .social-stats-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
}
.stats-widget svg {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  svg {
    width: 30px;
  }
}
img {
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
