* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $text-dark;
}

header {
/*****FLEX CONTAINER*****************/
  @include padding (
    $all: 10px,
    $right: 15px
  );
  background-color: $light-main-color;
  * {
    color: $text-light;
  }
}

#head-left {
  font-family: $display-font;
}

#head-right {
  & h2 {
    font-weight: 300;
  }
}

nav {
/***** flex *****/
  background-color: $dark-main-color;
  @include padding ($top: 20px);
  a {
    margin-bottom: 15px;
  }
}

/***** MAIN HEADER STYLES *****************/

.main-header {
  @include padding ($left: 20px);
  margin-bottom: 10px;
}

.headline {
  @include padding (
    $top: 10px,
    $right: 20px,
    $bott: 10px
  );
}

.main-header-search {
  text-align: right;
  @include padding (
    $top: 10px,
    $right: 15px,
    $bott: 10px
  );
  background-color: $text-area-light;
  input {
    @include padding ($all: 3px);
    width: 50%;
    border: 2px solid $text-med;
    border-radius: 4px;
    font-size: 14px;
  }
}

/***** ALERT STYLES *****************/

.alert {
  @include padding ($all: 10px);
  margin: 10px 15px 10px 0;
  background-color: $light-main-color;
  font-size: 18px;
}

.alert-banner {
  * {
    color: $text-light;
  }
  p {
    display: inline-block;
  }
}

.alert-banner-close {
  float: right;
}

/***** MAIN CONTENT STYLES *****************/

.traffic-chart-nav li {
  @include padding ($all: 5px);
  margin-right: 10px;
  background-color: $dark-main-color;
  border-radius: 10px;
  color: $text-light;
  width: 50px;
  text-align: center;
}

.main-content {
/***** grid *****/
  @include padding ($all: 0 20px 20px 20px);
  .section-heading {
    @include padding ($bott: 20px);
  }
}

#social-stats-container {
  .stats-widget {
    /***** flex *****/
    height: 125px;
    background-color: $text-area-light;
    margin: 0 20px 20px 20px;
    .social-stats-name {
      font-size: 45px;
      h6 {
        font-size: 20px;
      }
    }
  }
}

#members-container {
/***** grid *****/
  .members {
    @include padding ($all: 10px);
    .member-img {
      margin-right: 10px;
    }
  }
}

#activity-container {
/***** grid *****/
  .member-activity {
    @include padding ($all: 10px);
    .member-img {
      margin-right: 10px;
    }
  }
}

#message-container {
/***** flex *****/
  input {
    @extend %text-input;
    height: 30px;
  }
  textarea {
    @extend %text-input;
    resize: none;
  }
  button {
    @extend %button-style;
    width: 100%;
  }
}

#settings-container {
/***** flex *****/
  span {
    color: white;
  }
  .switch-light,
  .settings-buttons-container,
  .timezone-menu {
    width: 100%;
  }
  .settings-switches {
    margin-bottom: 10px;
  }
  .timezone-menu {
    @extend %text-input;
  }
  .button-save, .button-cancel {
    @extend %button-style;
    width: 48%;
  }
  .button-cancel {
    background-color: $text-area-light;
    color: inherit;
  }
}

/***** MEDIA QUERIES *****************/

@media (min-width: $breakpoint-med) {
  #head-right {
    margin-left: auto;
    .alert-container {
      margin-right: 15px;
    }
    img {
      margin-right: 15px;
    }
  }
}
