@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

$display-font: 'Poiret One', cursive;
$main-font: 'Open Sans Condensed', sans-serif;

$breakpoint-med: 768px;

/*** BODY COLORS ***/

$dark-main-color: rgb(70,107,91);
$light-main-color: rgb(90,141,119);
$accent-primary: rgb(112,94,140);
$accent-primary-light: rgb(149,124,185);
$accent-secondary: rgb(255,246,142);
$accent-secondary-light: rgb(255,248,163);

$button-inactive-color: rgb(153,153,153);
$text-area-light: rgb(238,238,238);

/*** FONT COLORS ***/

$text-dark: rgb(51,51,51);
$text-med: rgb(169,169,169);
$text-light: rgb(211,211,211);
