header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;

}
#main-chart-container {
  grid-area: mainChart;
}

#daily-chart-container  {
  grid-area: dailyChart;
}

#mobile-chart-container  {
  grid-area: mobileChart;
}

#social-stats-container {
  grid-area: socialStats;
}

#members-container {
  grid-area: members;
}

#recent-activity {
  grid-area: recentActivity;
}

#message-container {
  grid-area: messageContainer;
}

#settings-container {
  grid-area: settingsContainer;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(auto-fit, 1fr);
  grid-template-areas:
    "head"
    "nav"
    "main"
  ;
}

/********* MAIN CONTENT STYLES *********/

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  grid-template-areas:
    "mainChart"
    "dailyChart"
    "mobileChart"
    "socialStats"
    "members"
    "recentActivity"
    "messageContainer"
    "settingsContainer"
    ;
  & #members-container {
      display: grid;
    & .members {
      display: grid;
      grid-template-columns: auto 1fr auto;
    }
  }
  & #activity-container {
    display: grid;
    & .member-activity {
      display: grid;
      grid-template-columns: auto 1fr auto;
    }
  }
}


/********* MEDIA QUERIES *********/

@media (min-width: $breakpoint-med) {
  .grid-container {
    height: 100vh;
    grid-template-rows: 75px;
    grid-template-columns: 75px 9fr;
    grid-template-areas:
      "head head"
      "nav main"
    ; & .main-content {
      grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "mainChart mainChart"
      "dailyChart mobileChart"
      "socialStats socialStats"
      "members recentActivity"
      "messageContainer settingsContainer"
      ;
      & #social-stats-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        & h3 {
          grid-column: 1 / span 3;
        }
      }
    }
  }
}
