svg {
  width: 25px;
}

.icon-body {
  stroke: $text-light;
  fill: $text-light;
  stroke-width: 0;
}

.bell-container {
  box-sizing: border-box;
  width:40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}

.alert-container:hover .icon-body {
  transform: rotateY(45deg);
}

.icon-body {
  transform-origin: center;
  transition: transform 1s ease-out;
}

.stats-widget {
   .social-stats-icon {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  svg {
  width: 100px;
  height: 100px;
  }
}
